# Standardizated data

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
df = pd.read_csv("Standardizated.csv")
df

,price,m2_price,square,rooms,district,micro_district,building_type,floor,floors,condition,building_age,floor_to_floors,is_good_floor
0,1.052655,-1.571513,2.410565,4,1,0,2,12,14,2,-0.147061,0.857143,0
1,-0.425560,-1.469033,0.160693,2,1,0,2,5,12,2,-0.147061,0.416667,1
2,-0.404984,-1.417792,0.160693,2,1,0,1,5,12,2,-0.147061,0.416667,1
3,-0.425560,-1.469033,0.160693,2,1,0,2,5,12,2,-0.147061,0.416667,1
4,-0.480431,1.292817,-0.832757,1,2,3,2,1,12,6,0.065598,0.083333,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9659,-0.754784,-0.746545,-0.599004,1,1,0,0,9,9,5,-0.104530,1.000000,0
9660,2.125925,2.199769,0.920390,3,1,0,1,3,12,5,-0.061998,0.250000,1
9661,1.302865,0.595949,0.978828,5,2,4,2,5,6,6,0.554714,0.833333,0
9662,-0.288384,-0.295631,-0.219155,2,1,2,1,6,12,5,-0.104530,0.500000,1
9663,0.315193,0.888019,-0.043841,2,3,4,1,12,17,6,-0.061998,0.705882,0

### troubleshooting unnoticed problems

In [2]:
df['rooms'] = df['rooms'].replace({
    '6 и более': 6,
    'свободная планировка': 7
}).astype(int)

In [3]:
df.drop(["floor", "floors"], axis=1, inplace=True)

##  Dividing into train and test data

In [4]:
X = df.drop(columns=['price'])  # goal variable
y = df['price']

In [5]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

## KNeighbors Regressor

In [6]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import r2_score, mean_squared_error

# Initializing the KNN Model 
knn_model = KNeighborsRegressor(n_neighbors=5)
knn_model.fit(X_train, y_train)

#Prediction
y_pred_knn = knn_model.predict(X_test)

# Model evaluation
print("K-Nearest Neighbors Regressor:")
print("R² Score:", r2_score(y_test, y_pred_knn))#this is the coefficient of determination
print("MSE:", mean_squared_error(y_test, y_pred_knn))

K-Nearest Neighbors Regressor:
R² Score: 0.9530453429645686
MSE: 0.047261858397701376

## LinearRegression

In [7]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error

# Model initialization and training
lr_model = LinearRegression()
lr_model.fit(X_train, y_train)

#Prediction
y_pred_lr = lr_model.predict(X_test)

# Model evaluation
print("Linear Regression:")
print("R² Score:", r2_score(y_test, y_pred_lr))#this is the coefficient of determination
print("MSE:", mean_squared_error(y_test, y_pred_lr))

Linear Regression:
R² Score: 0.9584137254365703
MSE: 0.04185835322408262