In [354]:
import pandas as pd 
import numpy as np
df = pd.read_csv("Bishkek.csv")
df

,price,m2_price,square,rooms,district,micro_district,building_type,floor,floors,year,date,source,condition
0,110880,720,154,4,–û–∫—Ç—è–±—Ä—å—Å–∫–∏–π —Ä–∞–π–æ–Ω,–ú–∞–≥–∏—Å—Ç—Ä–∞–ª—å,–∫–∏—Ä–ø–∏—á–Ω—ã–π,12,14,2023.0,2023-02-04 20:05:01,Site,–ø–æ–¥ —Å–∞–º–æ–æ—Ç–¥–µ–ª–∫—É (–ü–°–û)
1,57000,740,77,2,–û–∫—Ç—è–±—Ä—å—Å–∫–∏–π —Ä–∞–π–æ–Ω,–ú–∞–≥–∏—Å—Ç—Ä–∞–ª—å,–∫–∏—Ä–ø–∏—á–Ω—ã–π,5,12,2023.0,2023-02-04 20:04:49,Site,–ø–æ–¥ —Å–∞–º–æ–æ—Ç–¥–µ–ª–∫—É (–ü–°–û)
2,57750,750,77,2,–û–∫—Ç—è–±—Ä—å—Å–∫–∏–π —Ä–∞–π–æ–Ω,–ú–∞–≥–∏—Å—Ç—Ä–∞–ª—å,–º–æ–Ω–æ–ª–∏—Ç–Ω—ã–π,5,12,2023.0,2023-02-04 20:04:37,Site,–ø–æ–¥ —Å–∞–º–æ–æ—Ç–¥–µ–ª–∫—É (–ü–°–û)
3,57000,740,77,2,–û–∫—Ç—è–±—Ä—å—Å–∫–∏–π —Ä–∞–π–æ–Ω,–ú–∞–≥–∏—Å—Ç—Ä–∞–ª—å,–∫–∏—Ä–ø–∏—á–Ω—ã–π,5,12,2023.0,2023-02-04 20:04:01,Site,–ø–æ–¥ —Å–∞–º–æ–æ—Ç–¥–µ–ª–∫—É (–ü–°–û)
4,55000,1279,43,1,–õ–µ–Ω–∏–Ω—Å–∫–∏–π —Ä–∞–π–æ–Ω,–ê–∫–∞–¥–µ–º–∏—è –ù–∞—É–∫,–∫–∏—Ä–ø–∏—á–Ω—ã–π,1,12,2013.0,2023-02-04 20:02:37,Site,—Ö–æ—Ä–æ—à–µ–µ
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,45000,881,51,1,–û–∫—Ç—è–±—Ä—å—Å–∫–∏–π —Ä–∞–π–æ–Ω,NaN,–ø–∞–Ω–µ–ª—å–Ω—ã–π,9,9,2021.0,2022-11-30 00:40:24,Android,–µ–≤—Ä–æ—Ä–µ–º–æ–Ω—Ç
9996,150000,1456,103,3,–û–∫—Ç—è–±—Ä—å—Å–∫–∏–π —Ä–∞–π–æ–Ω,–ú–∞–≥–∏—Å—Ç—Ä–∞–ª—å,–º–æ–Ω–æ–ª–∏—Ç–Ω—ã–π,3,12,2019.0,2022-11-30 00:03:22,Site,NaN
9997,120000,1143,105,5,–õ–µ–Ω–∏–Ω—Å–∫–∏–π —Ä–∞–π–æ–Ω,–ú–æ—Å–∫–æ–≤—Å–∫–∞—è - –ë–µ–ª–∏–Ω–∫–∞,–∫–∏—Ä–ø–∏—á–Ω—ã–π,5,6,1990.0,2022-11-29 23:52:23,Site,—Ö–æ—Ä–æ—à–µ–µ
9998,62000,969,64,2,–û–∫—Ç—è–±—Ä—å—Å–∫–∏–π —Ä–∞–π–æ–Ω,–¢—É–Ω–≥—É—á –º-–Ω,–º–æ–Ω–æ–ª–∏—Ç–Ω—ã–π,6,12,NaN,2022-11-29 23:21:20,Android,–µ–≤—Ä–æ—Ä–µ–º–æ–Ω—Ç
9999,84000,1200,70,2,–ü–µ—Ä–≤–æ–º–∞–π—Å–∫–∏–π —Ä–∞–π–æ–Ω,–ë–∏—à–∫–µ–∫-–ü–∞—Ä–∫,–º–æ–Ω–æ–ª–∏—Ç–Ω—ã–π,12,17,2019.0,2022-11-29 23:03:56,Site,—Ö–æ—Ä–æ—à–µ–µ

## 1. Data Collection

To build a reliable house price prediction model, it is essential to collect high-quality and relevant datasets.  
For this project, I focused on gathering data related to **real estate in Kyrgyzstan**, particularly in **Bishkek**,  
as well as supporting datasets that reflect **economic** and **demographic indicators** that may influence housing prices.

---

### üîπ Main Dataset

- **Source**: *Kaggle / Local Open Data Portals / Real Estate Websites*  
- **Filename**: `Bishkek.csv`  
- **Description**: This dataset contains listings of apartments for sale in Bishkek.  
  It includes the following features:

| Column Name       | Description                                                 |
|-------------------|-------------------------------------------------------------|
| `price`           | Total price of the apartment (in KGS)                       |
| `m2_price`        | Price per square meter                                      |
| `square`          | Total area of the apartment in square meters                |
| `rooms`           | Number of rooms                                             |
| `district`        | Administrative district of Bishkek                          |
| `micro_district`  | Sub-district or neighborhood within the city                |
| `building_type`   | Type of the building (e.g., panel, brick, monolithic)       |
| `floor`           | The floor the apartment is located on                       |
| `floors`          | Total number of floors in the building                      |
| `year`            | Year the building was constructed                           |
| `date`            | Date the listing was posted                                 |
| `source`          | Source website or platform from which the data was collected |
| `condition`       | Condition of the apartment (e.g., renovated, under repair)  |

---

This dataset provides detailed property-level information,  
which is essential for analyzing trends in the real estate market and for building accurate predictive models.

# Data Preprocessing:

In [330]:
# Check for gaps and duplicates
print("\nNumber of missing values:")
print(df.isnull().sum())

print("\nNumber of dublicates:")
print(df.duplicated().sum())
df = df.drop_duplicates()

Number of missing values:
price                0
m2_price             0
square               0
rooms                0
district            10
micro_district     457
building_type        0
floor                0
floors               0
year              4369
date                 0
source               0
condition         2919
dtype: int64

Number of dublicates:
0

In [331]:
df = df.dropna(subset=['district'])
df.drop(columns=['year'], inplace=True)#–Ω–µ –Ω—É–∂–Ω—ã–π
df.drop(columns=["source","date"], inplace=True)# –Ω–µ –Ω—É–∂–Ω—ã–π

df["micro_district"].value_counts()
df["condition"] = df["condition"].fillna(df["condition"].mode()[0])# –∑–∞–ø–æ–ª–Ω–∏–ª –º–æ–¥–æ–π nan –∑–Ω–∞—á–µ–Ω–∏—è
df["micro_district"] = df["micro_district"].fillna(df["micro_district"].mode()[0]) # –∑–∞–ø–æ–ª–Ω–∏–ª –º–æ–¥–æ–π nan –∑–Ω–∞—á–µ–Ω–∏—è

In [332]:
# Check for gaps and duplicates
print("\nNumber of missing values:")
print(df.isnull().sum())

print("\nNumber of dublicates:")
print(df.duplicated().sum())
df = df.drop_duplicates()

Number of missing values:
price             0
m2_price          0
square            0
rooms             0
district          0
micro_district    0
building_type     0
floor             0
floors            0
condition         0
dtype: int64

Number of dublicates:
1299

In [333]:
df["building_type"].unique()

array(['–∫–∏—Ä–ø–∏—á–Ω—ã–π', '–º–æ–Ω–æ–ª–∏—Ç–Ω—ã–π', '–ø–∞–Ω–µ–ª—å–Ω—ã–π'], dtype=object)

In [334]:
df.groupby('building_type')['m2_price'].mean().loc[['–∫–∏—Ä–ø–∏—á–Ω—ã–π', '–º–æ–Ω–æ–ª–∏—Ç–Ω—ã–π', '–ø–∞–Ω–µ–ª—å–Ω—ã–π']]

building_type
–∫–∏—Ä–ø–∏—á–Ω—ã–π     1028.153471
–º–æ–Ω–æ–ª–∏—Ç–Ω—ã–π    1037.822861
–ø–∞–Ω–µ–ª—å–Ω—ã–π     1074.759807
Name: m2_price, dtype: float64

In [335]:
df['building_type'].value_counts()

building_type
–º–æ–Ω–æ–ª–∏—Ç–Ω—ã–π    3963
–∫–∏—Ä–ø–∏—á–Ω—ã–π     2867
–ø–∞–Ω–µ–ª—å–Ω—ã–π     1861
Name: count, dtype: int64

##  Building Type vs. Price:
### Interestingly, panel buildings turned out to be the most expensive in terms of average price per square meter ‚Äî which goes against what people usually expect.

### Here‚Äôs the breakdown:
	‚Ä¢	Panel: 1074.76 KGS/m¬≤
	‚Ä¢	Monolithic: 1037.82 KGS/m¬≤
	‚Ä¢	Brick: 1028.15 KGS/m¬≤

### The difference isn‚Äôt huge, but it‚Äôs still surprising. This could be due to the location of these buildings or the condition of the apartments.

### Also, the number of listings for each type is large enough (1800+ each), so the results are reliable.
### So we can convert them into a numeric format for our model (panel=3, monolithic=2, brick=1)

In [336]:
df['building_type'] = df['building_type'].apply(
    lambda x: 1 if x == '–∫–∏—Ä–ø–∏—á–Ω—ã–π' else (2 if x == '–º–æ–Ω–æ–ª–∏—Ç–Ω—ã–π' else (3 if x == '–ø–∞–Ω–µ–ª—å–Ω—ã–π' else x))
)

In [337]:
df["condition"].unique()

array(['–ø–æ–¥ —Å–∞–º–æ–æ—Ç–¥–µ–ª–∫—É (–ü–°–û)', '—Ö–æ—Ä–æ—à–µ–µ', '–µ–≤—Ä–æ—Ä–µ–º–æ–Ω—Ç', '—Å—Ä–µ–¥–Ω–µ–µ',
       '–Ω–µ –¥–æ—Å—Ç—Ä–æ–µ–Ω–æ', '—Ç—Ä–µ–±—É–µ—Ç —Ä–µ–º–æ–Ω—Ç–∞', '—á–µ—Ä–Ω–æ–≤–∞—è –æ—Ç–¥–µ–ª–∫–∞',
       '—Å–≤–æ–±–æ–¥–Ω–∞—è –ø–ª–∞–Ω–∏—Ä–æ–≤–∫–∞'], dtype=object)

In [338]:
df.groupby('condition')['m2_price'].mean().sort_values(ascending=False)

condition
—Å–≤–æ–±–æ–¥–Ω–∞—è –ø–ª–∞–Ω–∏—Ä–æ–≤–∫–∞     1092.900000
–µ–≤—Ä–æ—Ä–µ–º–æ–Ω—Ç               1089.771561
—Ö–æ—Ä–æ—à–µ–µ                  1077.003454
—Å—Ä–µ–¥–Ω–µ–µ                  1063.333966
—Ç—Ä–µ–±—É–µ—Ç —Ä–µ–º–æ–Ω—Ç–∞          1009.889535
–ø–æ–¥ —Å–∞–º–æ–æ—Ç–¥–µ–ª–∫—É (–ü–°–û)     885.744942
—á–µ—Ä–Ω–æ–≤–∞—è –æ—Ç–¥–µ–ª–∫–∞          843.485714
–Ω–µ –¥–æ—Å—Ç—Ä–æ–µ–Ω–æ              751.842105
Name: m2_price, dtype: float64

In [339]:
df['condition'] = df['condition'].apply(lambda x: 0 if x == '–Ω–µ –¥–æ—Å—Ç—Ä–æ–µ–Ω–æ' else
                                         1 if x == '—Ç—Ä–µ–±—É–µ—Ç —Ä–µ–º–æ–Ω—Ç–∞' else
                                         2 if x == '—á–µ—Ä–Ω–æ–≤–∞—è –æ—Ç–¥–µ–ª–∫–∞' else
                                         3 if x == '–ø–æ–¥ —Å–∞–º–æ–æ—Ç–¥–µ–ª–∫—É (–ü–°–û)' else
                                         6 if x == '—Å–≤–æ–±–æ–¥–Ω–∞—è –ø–ª–∞–Ω–∏—Ä–æ–≤–∫–∞' else
                                         4 if x == '—Å—Ä–µ–¥–Ω–µ–µ' else
                                         5 if x == '—Ö–æ—Ä–æ—à–µ–µ' else
                                         7 if x == '–µ–≤—Ä–æ—Ä–µ–º–æ–Ω—Ç' else None)

In [340]:
df["micro_district"].unique()

array(['–ú–∞–≥–∏—Å—Ç—Ä–∞–ª—å', '–ê–∫–∞–¥–µ–º–∏—è –ù–∞—É–∫', '–ñ–î –≤–æ–∫–∑–∞–ª', '–ê–ª–∞–º–µ–¥–∏–Ω-1 –º-–Ω',
       '6 –º-–Ω', '–ö–æ–∫-–ñ–∞—Ä –∂/–º', '–ê—Å–∞–Ω–±–∞–π –º-–Ω', '–î–∂–∞–ª-23 –º-–Ω (–ù–∏–∂–Ω–∏–π –î–∂–∞–ª)',
       '–í–æ–µ–Ω—Ç–æ—Ä–≥', '–ê–Æ Grand', '–í–æ—Å—Ç–æ–∫-5 –º-–Ω', '–ú–æ–ª–æ–¥–∞—è –ì–≤–∞—Ä–¥–∏—è',
       '–í–µ—Ä—Ö–Ω–∏–π –î–∂–∞–ª –º-–Ω', '–ö–ù–£', '4 –º-–Ω', '–ü–æ–ª–∏—Ç–µ—Ö', '–î–∂–∞–ª 15 –º-–Ω',
       '–ò–ø–ø–æ–¥—Ä–æ–º', '–ü–ª–æ—â–∞–¥—å –ü–æ–±–µ–¥—ã', '11 –º-–Ω', '–ú–µ–¥. –∞–∫–∞–¥–µ–º–∏—è', '–ê–∫ –ö–µ–º–µ',
       '–ú–æ—Å—Å–æ–≤–µ—Ç', '–ì–æ—Ä—å–∫–æ–≥–æ - –ü–∞–Ω—Ñ–∏–ª–æ–≤–∞', '–ú–æ—Å–∫–æ–≤—Å–∫–∞—è - –ë–µ–ª–∏–Ω–∫–∞',
       '–°—Ç–∞—Ä—ã–π –∞—ç—Ä–æ–ø–æ—Ä—Ç', '–ê–£–¶–ê', '–î–≤–æ—Ä–µ—Ü —Å–ø–æ—Ä—Ç–∞', '12 –º-–Ω', '–ì–æ–∏–Ω',
       '–ú–æ—Å–∫–æ–≤—Å–∫–∞—è - –£–º–µ—Ç–∞–ª–∏–µ–≤–∞', '–ü–∞—Ä–∫ –ê—Ç–∞—Ç—é—Ä–∫', '–ñ–∏–ª–≥–æ—Ä–æ–¥–æ–∫ –ù–∏—Ü—Ü–∞',
       '–ö–∞—Ä–ª–∞ –ú–∞—Ä–∫—Å–∞', '–¶–£–ú', '–°–∫–≤–µ—Ä –¢–æ–≥–æ–ª–æ–∫ –ú–æ–ª–¥–æ', '–ë–∏—à–∫–µ–∫-–ü–∞—Ä–∫',
       '–î—É—à–∞–Ω–±–∏–Ω–∫–∞', '–í–æ—Å—Ç–æ—á–Ω—ã–π –∞–≤—Ç–æ–≤–æ–∫–∑–∞–ª', '–¶–µ–Ω—Ç—Ä–∞–ª—å–Ω–∞—è –º–µ—á–µ—Ç—å',
       '–Æ–±–∏–ª–µ–π–∫–∞', '–ö–æ—Å–º–æ—Å', '8 –º-–Ω', '–ö–∞—Ä–∞-–ñ—ã–≥–∞—á –∂/–º',
       '–î–∂–∞–ª—å—Å–∫–∞—è –±–æ–ª—å–Ω–∏—Ü–∞', '–°—Ä–µ–¥–Ω–∏–π –î–∂–∞–ª –º-–Ω', '–ó–æ–ª–æ—Ç–æ–π –∫–≤–∞–¥—Ä–∞—Ç',
       '–î–µ–Ω –°—è–æ–ø–∏–Ω–∞ - –§—É—á–∏–∫–∞', '–ù–∏–∂–Ω–∏–π –¢–æ–∫–æ–ª—å–¥–æ—à', '5 –º-–Ω', '–ú–∞—Ç—Ä–æ—Å–æ–≤–∞',
       '–ü–∞—Ä–∫ –ü–∞–Ω—Ñ–∏–ª–æ–≤–∞/–°–ø–∞—Ä—Ç–∞–∫', '7 –º-–Ω', '–ö–∞—Ä–ø–∏–Ω–∫–∞', '–ö—É–¥–∞–π–±–µ—Ä–≥–µ–Ω',
       '–î–∂–∞–ª-29 –º-–Ω', '–£–ª–∞–Ω –º-–Ω', '–ü–∏—à–ø–µ–∫ –∂/–º', '–¢–≠–¶', '–ë–ì–£', 'VEFA',
       '–©–µ—Ä–±–∞–∫–æ–≤–∞ –∂/–º', '–ê–∫ –≠–º–∏—Ä —Ä—ã–Ω–æ–∫', '–ì–æ—Å—Ä–µ–≥–∏—Å—Ç—Ä', '–ö–æ–∫-–ñ–∞—Ä –º-–Ω',
       '–¶–µ—Ä–∫–æ–≤—å', '–ß—É–π - –ê–ª–º–∞—Ç–∏–Ω–∫–∞', '3 –º-–Ω', '–ê–∑–∏—è –ú–æ–ª–ª',
       '–¶–∏—Ä–∫/–î–≤–æ—Ä–µ—Ü –±—Ä–∞–∫–æ—Å–æ—á–µ—Ç–∞–Ω–∏—è', '–®–ª–∞–≥–±–∞—É–º', '–§–∏–ª–∞—Ä–º–æ–Ω–∏—è',
       '–î–∂–∞–ª-30 –º-–Ω', '–ù–∏–∂–Ω–∏–π –î–∂–∞–ª –º-–Ω', '–î–∂–∞–ª 30', '–ö–ì–£–°–¢–ê', '10 –º-–Ω',
       '–ó–∞–ø–∞–¥–Ω—ã–π –∞–≤—Ç–æ–≤–æ–∫–∑–∞–ª', '–¢–∞–∞—Ç–∞–Ω', '–ì–∞–≥–∞—Ä–∏–Ω–∞', '–£—á–∫—É–Ω –º-–Ω',
       '–¢—É–Ω–≥—É—á –º-–Ω', '–ì–æ—Ä–æ–¥–æ–∫ —ç–Ω–µ—Ä–≥–µ—Ç–∏–∫–æ–≤', '9 –º-–Ω',
       '–°–æ–≤–µ—Ç—Å–∫–∞—è - –°–∫—Ä—è–±–∏–Ω–∞', '–ê–∫-–û—Ä–≥–æ –∂/–º', '–ê—Ä—á–∞-–ë–µ—à–∏–∫ –∂/–º', '–ë–∞—Ö–∞',
       '–ì–æ—Ä–æ–¥–æ–∫ —Å—Ç—Ä–æ–∏—Ç–µ–ª–µ–π', '–í–µ—á–µ—Ä–∫–∞', '–ö–∞—Ä–∞ –î–∞—Ä—ã—è', '–Æ–≥-2 –º-–Ω',
       '1000 –º–µ–ª–æ—á–µ–π', '–ì–µ–Ω –ø—Ä–æ–∫—É—Ä–∞—Ç—É—Ä–∞', '–¢–∞—à –†–∞–±–∞—Ç',
       '–ê–ª–∞–º–µ–¥–∏–Ω—Å–∫–∏–π —Ä—ã–Ω–æ–∫', '–ñ–∏–ª–≥–æ—Ä–æ–¥–æ–∫ –°–æ–≤–º–∏–Ω–∞ –∂/–º', '–£–ª–∞–Ω-2 –º-–Ω',
       '–î–æ—Ä–¥–æ–π –ü–ª–∞–∑–∞', '110 –∫–≤–∞—Ä—Ç–∞–ª –∂/–º', '–ö—ã–∑—ã–ª-–ê—Å–∫–µ—Ä –∂/–º', '–î–æ—Å—Ç—É–∫',
       '–ú–∞–¥–∏–Ω–∞', '–ê–∫-–ë–æ—Å–æ–≥–æ –∂/–º', '–ê–ª–º–∞—Ç–∏–Ω–∫–∞ - –ú–∞–≥–∏—Å—Ç—Ä–∞–ª—å', '–ö–æ–º—Ñ–æ—Ä—Ç',
       '–û—à—Å–∫–∏–π —Ä—ã–Ω–æ–∫', '–¢–æ–∫–æ–ª—å–¥–æ—à –∂/–º', '–ö–∏—Ä–≥–∏–∑–∏—è 1 –∂/–º',
       '–ê–ª—Ç—ã–Ω-–û—Ä–¥–æ –∂/–º', '–†—É—Ö–∏–π –ú—É—Ä–∞—Å –∂/–º', '–î–æ—Å—Ç—É–∫ –º-–Ω', '–£—á–∫—É–Ω –∂/–º',
       '–û—Ä–æ–∑–±–µ–∫–æ–≤–∞ - –ñ–∏–±–µ–∫-–ñ–æ–ª—É', '–†–∞–±–æ—á–∏–π –ì–æ—Ä–æ–¥–æ–∫', '–ê–ª–∞-–ê—Ä—á–∞ –∂/–º',
       '—Å. –û—Ä—Ç–æ-–°–∞–π', '—Å. –ß–æ–Ω-–ê—Ä—ã–∫', '–î–æ—Ä–¥–æ–π –∂/–º', '–ê–∫-–û—Ä–¥–æ –∂/–º',
       '–ö–æ–ª–º–æ –∂/–º', '–§–∏–∑–∫—É–ª—å—Ç—É—Ä–Ω—ã–π', '–≠–Ω–µ-–°–∞–π –∂/–º', '–ö–∏—Ä–≥–∏–∑–∏—è-2 –º-–Ω',
       '–´–Ω—Ç—ã–º–∞–∫ –∂/–º', '–°–∞–ª–∞–º-–ê–ª–∏–∫ –∂/–º', '–°—Ç–∞—Ä—ã–π —Ç–æ–ª—á–æ–∫',
       '–ë–∞–ª–±–∞–Ω-–¢–∞–π–º–∞—à –∂/–º', '–î–µ—Ç—Å–∫–∏–π –º–∏—Ä', '69-–≥–∞', '–£—á–∫—É–Ω-2 –∂/–º',
       '–ö–∞—Å—ã–º –∂/–º', '–û—Ä—Ç–æ—Å–∞–π—Å–∫–∏–π —Ä—ã–Ω–æ–∫', '–ö—Ä–∞—Å–Ω—ã–π –°—Ç—Ä–æ–∏—Ç–µ–ª—å 2 –∂/–º'],
      dtype=object)

In [341]:
# –ü—Ä–µ–æ–±—Ä–∞–∑—É–µ–º –º–∏–∫—Ä–æ—Ä–∞–π–æ–Ω—ã –≤ —á–∏—Å–ª–∞
def assign_district_group(district):
    if district in ['–ó–æ–ª–æ—Ç–æ–π –∫–≤–∞–¥—Ä–∞—Ç', '–ê—Å–∞–Ω–±–∞–π –º-–Ω', '–ë–∏—à–∫–µ–∫-–ü–∞—Ä–∫', '–¶–£–ú', '–û—Ä–æ–∑–±–µ–∫–æ–≤–∞ - –ñ–∏–±–µ–∫-–ñ–æ–ª—É', 
                    '–ì–æ—Ä—å–∫–æ–≥–æ - –ü–∞–Ω—Ñ–∏–ª–æ–≤–∞', '–ú–æ—Å–∫–æ–≤—Å–∫–∞—è - –ë–µ–ª–∏–Ω–∫–∞', '–ú–æ—Å–∫–æ–≤—Å–∫–∞—è - –£–º–µ—Ç–∞–ª–∏–µ–≤–∞', 
                    '–ü–∞—Ä–∫ –ü–∞–Ω—Ñ–∏–ª–æ–≤–∞/–°–ø–∞—Ä—Ç–∞–∫', '–§–∏–ª–∞—Ä–º–æ–Ω–∏—è']:
        return 4  # –°–∞–º—ã–µ –¥–æ—Ä–æ–≥–∏–µ
    elif district in ['–ê–∫–∞–¥–µ–º–∏—è –ù–∞—É–∫', '–ö–ù–£', '–ê–£–¶–ê', '–î–≤–æ—Ä–µ—Ü —Å–ø–æ—Ä—Ç–∞', '–ú–µ–¥. –∞–∫–∞–¥–µ–º–∏—è', '–ê–∫ –ö–µ–º–µ', 
                      '–ú–æ–ª–æ–¥–∞—è –ì–≤–∞—Ä–¥–∏—è', '–í–æ—Å—Ç–æ–∫-5 –º-–Ω', '–Æ–≥-2 –º-–Ω', '–ö–æ–∫-–ñ–∞—Ä –º-–Ω', '–¶–µ–Ω—Ç—Ä–∞–ª—å–Ω–∞—è –º–µ—á–µ—Ç—å', 
                      '–ü–∞—Ä–∫ –ê—Ç–∞—Ç—é—Ä–∫', '–ì–µ–Ω –ø—Ä–æ–∫—É—Ä–∞—Ç—É—Ä–∞']:
        return 3  # –í—ã—Å–æ–∫–∞—è —Ü–µ–Ω–∞
    elif district in ['4 –º-–Ω', '5 –º-–Ω', '6 –º-–Ω', '7 –º-–Ω', '8 –º-–Ω', '9 –º-–Ω', '10 –º-–Ω', '11 –º-–Ω', '12 –º-–Ω', 
                      '–î–∂–∞–ª 15 –º-–Ω', '–î–∂–∞–ª-23 –º-–Ω (–ù–∏–∂–Ω–∏–π –î–∂–∞–ª)', '–î–∂–∞–ª-29 –º-–Ω', '–î–∂–∞–ª-30 –º-–Ω', '–°—Ä–µ–¥–Ω–∏–π –î–∂–∞–ª –º-–Ω', 
                      '–í–µ—Ä—Ö–Ω–∏–π –î–∂–∞–ª –º-–Ω', '–£–ª–∞–Ω –º-–Ω', '–¢—É–Ω–≥—É—á –º-–Ω', '–ê–ª–∞–º–µ–¥–∏–Ω-1 –º-–Ω', '–ü–æ–ª–∏—Ç–µ—Ö', '–ö–ì–£–°–¢–ê', 
                      '–ë–ì–£', '–ê–∑–∏—è –ú–æ–ª–ª', '–°–æ–≤–µ—Ç—Å–∫–∞—è - –°–∫—Ä—è–±–∏–Ω–∞', '–ö–∞—Ä–ø–∏–Ω–∫–∞', '–ú–∞—Ç—Ä–æ—Å–æ–≤–∞']:
        return 2  # –°—Ä–µ–¥–Ω—è—è —Ü–µ–Ω–∞
    elif district in ['–ñ–î –≤–æ–∫–∑–∞–ª', '–í–æ–µ–Ω—Ç–æ—Ä–≥', '–ê–Æ Grand', '–ò–ø–ø–æ–¥—Ä–æ–º', '–ü–ª–æ—â–∞–¥—å –ü–æ–±–µ–¥—ã', '–ú–æ—Å—Å–æ–≤–µ—Ç', 
                      '–°—Ç–∞—Ä—ã–π –∞—ç—Ä–æ–ø–æ—Ä—Ç', '–ì–æ–∏–Ω', '–î—É—à–∞–Ω–±–∏–Ω–∫–∞', '–í–æ—Å—Ç–æ—á–Ω—ã–π –∞–≤—Ç–æ–≤–æ–∫–∑–∞–ª', '–Æ–±–∏–ª–µ–π–∫–∞', '–ö–æ—Å–º–æ—Å', 
                      '–ö–∞—Ä–∞-–ñ—ã–≥–∞—á –∂/–º', '–î–∂–∞–ª—å—Å–∫–∞—è –±–æ–ª—å–Ω–∏—Ü–∞', '–ù–∏–∂–Ω–∏–π –¢–æ–∫–æ–ª—å–¥–æ—à', '–ö—É–¥–∞–π–±–µ—Ä–≥–µ–Ω', '–ü–∏—à–ø–µ–∫ –∂/–º', 
                      '–¢–≠–¶', 'VEFA', '–©–µ—Ä–±–∞–∫–æ–≤–∞ –∂/–º', '–ê–∫ –≠–º–∏—Ä —Ä—ã–Ω–æ–∫', '–ì–æ—Å—Ä–µ–≥–∏—Å—Ç—Ä', '–¶–µ—Ä–∫–æ–≤—å', '–ß—É–π - –ê–ª–º–∞—Ç–∏–Ω–∫–∞', 
                      '–ó–∞–ø–∞–¥–Ω—ã–π –∞–≤—Ç–æ–≤–æ–∫–∑–∞–ª', '–¢–∞–∞—Ç–∞–Ω', '–ì–∞–≥–∞—Ä–∏–Ω–∞', '–£—á–∫—É–Ω –º-–Ω', '–ì–æ—Ä–æ–¥–æ–∫ —ç–Ω–µ—Ä–≥–µ—Ç–∏–∫–æ–≤', 
                      '–ê–ª–∞–º–µ–¥–∏–Ω—Å–∫–∏–π —Ä—ã–Ω–æ–∫', '–ñ–∏–ª–≥–æ—Ä–æ–¥–æ–∫ –°–æ–≤–º–∏–Ω–∞ –∂/–º', '–£–ª–∞–Ω-2 –º-–Ω']:
        return 1  # –ù–∏–∂–µ —Å—Ä–µ–¥–Ω–µ–≥–æ
    else:
        return 0  # –°–∞–º—ã–µ –¥–µ—à–µ–≤—ã–µ (–∂–∏–ª–º–∞—Å—Å–∏–≤—ã)

# –ü—Ä–∏–º–µ–Ω—è–µ–º —Ñ—É–Ω–∫—Ü–∏—é –∫–æ –≤—Å–µ–º –º–∏–∫—Ä–æ—Ä–∞–π–æ–Ω–∞–º –≤ DataFrame
df['micro_district'] = df['micro_district'].apply(assign_district_group)

# –ü—Ä–æ–≤–µ—Ä–∏–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç
print(df.head(10))

     price  m2_price  square rooms            district  micro_district  \
0   110880       720     154     4   –û–∫—Ç—è–±—Ä—å—Å–∫–∏–π —Ä–∞–π–æ–Ω               0
1    57000       740      77     2   –û–∫—Ç—è–±—Ä—å—Å–∫–∏–π —Ä–∞–π–æ–Ω               0
2    57750       750      77     2   –û–∫—Ç—è–±—Ä—å—Å–∫–∏–π —Ä–∞–π–æ–Ω               0
4    55000      1279      43     1     –õ–µ–Ω–∏–Ω—Å–∫–∏–π —Ä–∞–π–æ–Ω               3
5    97000      1276      76     2  –ü–µ—Ä–≤–æ–º–∞–π—Å–∫–∏–π —Ä–∞–π–æ–Ω               1
6   160000      1455     110     3  –ü–µ—Ä–≤–æ–º–∞–π—Å–∫–∏–π —Ä–∞–π–æ–Ω               0
7   158990       880     181     4   –û–∫—Ç—è–±—Ä—å—Å–∫–∏–π —Ä–∞–π–æ–Ω               0
8    68000      1283      53     1   –û–∫—Ç—è–±—Ä—å—Å–∫–∏–π —Ä–∞–π–æ–Ω               0
9    57500      1198      48     2  –°–≤–µ—Ä–¥–ª–æ–≤—Å–∫–∏–π —Ä–∞–π–æ–Ω               2
10   60000      1364      44     1   –û–∫—Ç—è–±—Ä—å—Å–∫–∏–π —Ä–∞–π–æ–Ω               0

    building_type  floor  floors  condition
0               1     12      14          3
1               1      5      12          3
2               2      5      12          3
4               1      1      12          5
5               1     10      12          7
6               1      3       3          7
7               2      9      14          3
8               2      7       9          7
9               1      8      10          7
10              2      8      12          7

In [342]:
df

,price,m2_price,square,rooms,district,micro_district,building_type,floor,floors,condition
0,110880,720,154,4,–û–∫—Ç—è–±—Ä—å—Å–∫–∏–π —Ä–∞–π–æ–Ω,0,1,12,14,3
1,57000,740,77,2,–û–∫—Ç—è–±—Ä—å—Å–∫–∏–π —Ä–∞–π–æ–Ω,0,1,5,12,3
2,57750,750,77,2,–û–∫—Ç—è–±—Ä—å—Å–∫–∏–π —Ä–∞–π–æ–Ω,0,2,5,12,3
4,55000,1279,43,1,–õ–µ–Ω–∏–Ω—Å–∫–∏–π —Ä–∞–π–æ–Ω,3,1,1,12,5
5,97000,1276,76,2,–ü–µ—Ä–≤–æ–º–∞–π—Å–∫–∏–π —Ä–∞–π–æ–Ω,1,1,10,12,7
...,...,...,...,...,...,...,...,...,...,...
9994,105000,1346,78,4,–û–∫—Ç—è–±—Ä—å—Å–∫–∏–π —Ä–∞–π–æ–Ω,2,2,8,10,7
9995,45000,881,51,1,–û–∫—Ç—è–±—Ä—å—Å–∫–∏–π —Ä–∞–π–æ–Ω,0,3,9,9,7
9996,150000,1456,103,3,–û–∫—Ç—è–±—Ä—å—Å–∫–∏–π —Ä–∞–π–æ–Ω,0,2,3,12,7
9997,120000,1143,105,5,–õ–µ–Ω–∏–Ω—Å–∫–∏–π —Ä–∞–π–æ–Ω,4,1,5,6,5
9999,84000,1200,70,2,–ü–µ—Ä–≤–æ–º–∞–π—Å–∫–∏–π —Ä–∞–π–æ–Ω,4,2,12,17,5

In [343]:
df["district"].unique()

array(['–û–∫—Ç—è–±—Ä—å—Å–∫–∏–π —Ä–∞–π–æ–Ω', '–õ–µ–Ω–∏–Ω—Å–∫–∏–π —Ä–∞–π–æ–Ω', '–ü–µ—Ä–≤–æ–º–∞–π—Å–∫–∏–π —Ä–∞–π–æ–Ω',
       '–°–≤–µ—Ä–¥–ª–æ–≤—Å–∫–∏–π —Ä–∞–π–æ–Ω'], dtype=object)

In [344]:
# –ì—Ä—É–ø–ø–∏—Ä—É–µ–º –¥–∞–Ω–Ω—ã–µ –ø–æ —Ä–∞–π–æ–Ω—É –∏ —Ä–∞—Å—Å—á–∏—Ç—ã–≤–∞–µ–º —Å—Ä–µ–¥–Ω—é—é —Ü–µ–Ω—É –¥–ª—è –∫–∞–∂–¥–æ–≥–æ —Ä–∞–π–æ–Ω–∞
average_price_per_district = df.groupby('district')['price'].mean()

# –°–æ—Ä—Ç–∏—Ä—É–µ–º –ø–æ —Å—Ä–µ–¥–Ω–µ–π —Ü–µ–Ω–µ (–ø–æ —É–±—ã–≤–∞–Ω–∏—é)
sorted_average_price = average_price_per_district.sort_values(ascending=False)

# –í—ã–≤–æ–¥–∏–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç
print(sorted_average_price)

district
–ü–µ—Ä–≤–æ–º–∞–π—Å–∫–∏–π —Ä–∞–π–æ–Ω    84276.056991
–õ–µ–Ω–∏–Ω—Å–∫–∏–π —Ä–∞–π–æ–Ω       75635.168817
–û–∫—Ç—è–±—Ä—å—Å–∫–∏–π —Ä–∞–π–æ–Ω     75186.521700
–°–≤–µ—Ä–¥–ª–æ–≤—Å–∫–∏–π —Ä–∞–π–æ–Ω    63677.534359
Name: price, dtype: float64

In [345]:
def assign_district_price_rating(district):
    if district == '–ü–µ—Ä–≤–æ–º–∞–π—Å–∫–∏–π —Ä–∞–π–æ–Ω':
        return 3
    elif district == '–õ–µ–Ω–∏–Ω—Å–∫–∏–π —Ä–∞–π–æ–Ω':
        return 2
    elif district == '–û–∫—Ç—è–±—Ä—å—Å–∫–∏–π —Ä–∞–π–æ–Ω':
        return 1
    elif district == '–°–≤–µ—Ä–¥–ª–æ–≤—Å–∫–∏–π —Ä–∞–π–æ–Ω':
        return 0
    else:
        return None
df['district'] = df['district'].apply(assign_district_price_rating)

df

,price,m2_price,square,rooms,district,micro_district,building_type,floor,floors,condition
0,110880,720,154,4,1,0,1,12,14,3
1,57000,740,77,2,1,0,1,5,12,3
2,57750,750,77,2,1,0,2,5,12,3
4,55000,1279,43,1,2,3,1,1,12,5
5,97000,1276,76,2,3,1,1,10,12,7
...,...,...,...,...,...,...,...,...,...,...
9994,105000,1346,78,4,1,2,2,8,10,7
9995,45000,881,51,1,1,0,3,9,9,7
9996,150000,1456,103,3,1,0,2,3,12,7
9997,120000,1143,105,5,2,4,1,5,6,5
9999,84000,1200,70,2,3,4,2,12,17,5

In [346]:
df['floor/floors'] = df['floor'] / df['floors']
df.drop(columns=['floor','floors'], inplace=True)#–Ω–µ –Ω—É–∂–Ω—ã–π
df

,price,m2_price,square,rooms,district,micro_district,building_type,condition,floor/floors
0,110880,720,154,4,1,0,1,3,0.857143
1,57000,740,77,2,1,0,1,3,0.416667
2,57750,750,77,2,1,0,2,3,0.416667
4,55000,1279,43,1,2,3,1,5,0.083333
5,97000,1276,76,2,3,1,1,7,0.833333
...,...,...,...,...,...,...,...,...,...
9994,105000,1346,78,4,1,2,2,7,0.800000
9995,45000,881,51,1,1,0,3,7,1.000000
9996,150000,1456,103,3,1,0,2,7,0.250000
9997,120000,1143,105,5,2,4,1,5,0.833333
9999,84000,1200,70,2,3,4,2,5,0.705882

In [347]:
df.to_csv('Bishkek_Preprocessed.csv', index=False)

In [348]:
data = pd.read_csv('Bishkek_Preprocessed.csv')

,price,m2_price,square,rooms,district,micro_district,building_type,condition,floor/floors
0,110880,720,154,4,1,0,1,3,0.857143
1,57000,740,77,2,1,0,1,3,0.416667
2,57750,750,77,2,1,0,2,3,0.416667
3,55000,1279,43,1,2,3,1,5,0.083333
4,97000,1276,76,2,3,1,1,7,0.833333
...,...,...,...,...,...,...,...,...,...
8686,105000,1346,78,4,1,2,2,7,0.800000
8687,45000,881,51,1,1,0,3,7,1.000000
8688,150000,1456,103,3,1,0,2,7,0.250000
8689,120000,1143,105,5,2,4,1,5,0.833333
8690,84000,1200,70,2,3,4,2,5,0.705882